.register-form-btn {
  width: 100%;
}

.register-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  .register-form {
    border: none;
    border-right: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
    box-shadow: 10px 10px 10px #dddddd;
    background-color: #eee;
    width: 70vw;
    padding: 3rem;
  }
}

.register-page-content {
  padding-top: 64px;
  height: 100vh;
  background-color: #fff;
}
