.user-info-card {
  background-color: #ffffff;
  border: 1px solid #eeeeee;
  padding: 1rem;
  box-shadow: 10px 10px 10px #cccccc;
  margin-top: 2rem;
  border-radius: 7%;
}

.user-info-row {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.5rem;
}

.user-info-row-inner {
  margin-right: 0.3rem;
}
