.header-menu {
  float: right;
}

.header-logo {
  color: aliceblue;
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.header-title {
  margin-left: 1rem;
}

.header {
  // position: fixed;
  // top: 0;
  width: 100%;
}

.main-page-menu-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-page-icon {
  margin-right: 0.2rem;
}
