.article-show-name {
  margin-right: 0.5em;
}

.head {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  margin: 0 1rem;
  color: #666666;
}

.icon {
  margin-right: 0.5rem;
}

.tag {
  margin-left: 0.5rem;
}

.content {
  font-size: 1rem !important;
  line-height: 24px !important;
}
