.article-show-name {
  margin-right: 0.5em;
}

.head {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  margin: 0.5rem 1rem;
  color: #666666;
}

.icon {
  margin-right: 0.5rem;
}

.tag {
  margin-left: 0.5rem;
}
