.article-card-container {
  margin: 2rem;
  padding: 1rem;
  background-color: #fff;
  border: 1px solid #dddddd;
  border-top: none;
  border-left: none;
  box-shadow: 10px 10px 10px #bbbbbb;
  border-radius: 0.5rem;
}

.article-card-container-user-logo {
  margin-right: 0.5rem;
}

.article-card-author-name {
  color: cornflowerblue;
}

.article-card-title {
  margin-left: 1rem;
  font-size: large;
}

.article-card-date {
  color: #aaaaaa;
}
